extends layout

block content
  div.flex
    div.spacer
      a(href='/')
        button.button-basic Home
    h1.text-center.flex= title
    div.spacer
  
  div.categories-container
    p.font-medium Number of items: #{count}
    ul.category-container
      each item in items
        li
        a(href=item.url) #{item.name}

      else 
        p There are no items.

  div.footer
    a(href=`/category/delete/${cID}`) Delete Category
    a(href=`/item/create/${cID}`) Create Item