extends layout

block content
  div.main-container
    div.content-container
      h1.text-center= title
      div.categories-container
        p.font-medium Number of categories: #{count}
        ul.category-container
          each category in categories
            li
              a(href=category.url) #{category.name}
        
          else 
            p There are no categories.

    div.form-container
      a(href=category.url) #{category.name}

